---
import PenIcon from "./icons/PenIcon.astro";
import CertificateCards from "./UI/CertificateCards.astro";
import Container from "./UI/Container.astro";
import EducationLineTime from "./UI/EducationLineTime.astro";
---

<Container id="educacion">
  <div class="w-full">
    <div class="flex items-center gap-2">
      <h2 class="font-bold text-3xl">Educación</h2>
      <PenIcon />
    </div>
    <h2 class="font-bold text-2xl text-secondary">Formal</h2>
    <EducationLineTime />
    <h2 class="font-bold text-2xl text-secondary">Complementaria</h2>
    <CertificateCards />
  </div>
</Container>
