---
import Container from "./UI/Container.astro";
import ProjectsSlider from "./UI/ProjectsSlider.astro";
import CodeIcon from "./icons/CodeIcon.astro";
---

<Container id="proyectos">
  <div class="w-full ">
    <div class="flex gap-2 items-center mb-3">
      <h2 class="font-bold text-3xl">Proyectos</h2>
      <CodeIcon />
    </div>
    <ProjectsSlider />
  </div>
</Container>
