---
import PersonIcon from "./icons/PersonIcon.astro";
import Container from "./UI/Container.astro";
---

<Container id="sobre-mi">
  <div class="w-full">
    <div class="flex items-center gap-2">
      <h2 class="font-bold text-3xl">Sobre mí</h2>
      <PersonIcon />
    </div>
    <div class="flex flex-col items-center gap-4">
      <img src="/Jona.webp" alt="Jona" class="max-w-xs rounded-lg border-[4px] border-black shadow-2xl" />
      <div class="prose font-bold pt-5">
        <p>
          Hola:), mi nombre es Jonathan, pero todo el mundo me llama <span class="font-bold text-secondary">Jona</span>.
          Durante mi etapa universitaria tuve la oportunidad de explorar
          distintos campos de la tecnología, y fue en ese momento que <span class="font-bold text-secondary">me enamoré
          del desarrollo</span>.
        </p>
        <p>
          Gracias a esta <span class="font-bold text-secondary">pasión</span>, decidí profundizar en el tema, aprendiendo de
          manera continua mientras estudiaba y realizaba algunos trabajos
          ocasionales en los que pude <span class="font-bold text-secondary">poner en práctica mis habilidades</span>.
        </p>
        <p>
          Actualmente, estoy comprometido en convertirme en un desarrollador
          <span class="font-bold text-secondary">fullstack completo</span>, con las herramientas adecuadas para enfrentar
          cualquier reto y aprovechar las <span class="font-bold text-secondary">oportunidades</span> que surjan.
        </p>
      </div>
    </div>
  </div>
</Container>
