---
import PersonIcon from "./icons/PersonIcon.astro";
import Container from "./UI/Container.astro";
---

<Container id="sobre-mi">
  <div class="w-full mt-5">
    <div class="flex items-center gap-2">
      <h2 class="font-bold text-3xl">Sobre mí</h2>
      <PersonIcon />
    </div>
  </div>
</Container>
