---
import DownloadIcon from "../components/icons/DownloadIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";

// true = light theme, false = dark theme
const theme = true;
---

<div class="w-full px-10 bg-black text-white">
  <div class="flex justify-between items-center py-2">
    <p>
      <a class="inline-flex gap-2" href="#">Descarga CV <DownloadIcon /></a>
    </p>
    <slot />
    <p>
      <a class="inline-flex gap-2 items-center" href="#">Contáctame <MailIcon size={19} stroke={1} /></a>
    </p>
  </div>
</div>
