---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
interface Props {
  title: string;
}

//TODO!
// Agregar descripcion
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
    ></script>
  </body>
</html>
<style is:global>
  :root {
  }
  body,
  html {
    /* font-family: system-ui, sans-serif; */
    /* background: #13151a; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Istok Web", sans-serif;
  }
  /* Para evitar animar a usauarios con animaciones desactivadas*/
  @media (prefers-reduced-motion: reduce) {
    html {
      animation-duration: 0.01ms;
      animation-iteration-count: 1;
      transition-duration: 0.01ms;
      scroll-behavior: auto;
    }
  }
</style>
