---
const { text, color } = Astro.props as BadgeTech;
import type { BadgeTech } from "../../types/badges";

const colorClasses: Record<string, string> = {
  black: "bg-black text-white",
};
---

<span
  class={`
      inline-flex
      items-center
      rounded-full
      px-4
      py-1 
      ${colorClasses[color]} 
      w-auto
      
      `}
>
  <slot />
  <span class="ml-2">
    {text}
  </span>
</span>
