---
const { text, color, link } = Astro.props as BadgePrimary;
import type {BadgePrimary} from '../../types/badges';

const colorClasses: Record<string, string> = {
  secondary: "bg-secondary text-white",
};
---

<a
  href={link}
  target="_blank"
  class={`
      inline-flex
      rounded-xl 
      px-3
      py-1 
      ${colorClasses[color]} 
      w-auto
      `}
>
  <slot />
  <span class="ml-2">
    {text}
  </span>
</a>
