---
interface CertificateModalProps {
  image: string;
  certificate: string;
}
const { image, certificate } = Astro.props as CertificateModalProps;

---

<div
  id=`certificate-modal-${certificate}`
  tabindex="-1"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-3xl max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <img class="rounded-md" transition:name=`img-${certificate}` src={image} alt={certificate} />
    </div>
  </div>
</div>
