---
interface Props {
  id: string;
}
const {id} = Astro.props;
//TODO ANALIZAR ANCHOS
---

<section class="min-h-screen flex items-center justify-center max-w-5xl min-w-5xl" id={id}>
  <slot />
</section>
