---
interface Props {
  id: string;
}
const {id} = Astro.props;
//TODO ANALIZAR ANCHOS
---

<section class="min-h-screen flex items-center justify-center w-full max-w-5xl mx-auto h-auto pt-8" id={id}>
  <slot />
</section>
