---
import ProjectsSliderItem from "./ProjectsSliderItem.astro";
import { PROJECTS } from "../../data/projects.ts";
import type { Project } from "../../types/projects";
import RightArrowIcon from "../icons/RightArrowIcon.astro";
import LeftArrowIcon from "../icons/LeftArrowIcon.astro";
---

<div id="controls-carousel" class="relative w-full" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative h-[45rem] overflow-hidden rounded-lg">
    <!-- Items -->
    {
      PROJECTS.map((project: Project) => (
        <div
          class="hidden duration-700 ease-in-out flex justify-center"
          data-carousel-item
        >
          <ProjectsSliderItem {...project} />
        </div>
      ))
    }
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <LeftArrowIcon />
  </button>
  <button
    type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <RightArrowIcon />
  </button>
</div>
