---
import MobileNavBar from "./MobileNavBar.astro";
import NavBar from "./NavBar.astro";
---

<div>
  <div class="hidden md:block">
    <NavBar />
  </div>
  <div class="block md:hidden">
    <MobileNavBar />
  </div>
</div>
